.img_N1 {
    width: 250px;
    margin-top: 30px;
    margin-left: 100px;
}

.h5 {
    color: #6d6d6d;
    margin-top: 40px;
    margin-left: 100px;
}

.h6 {
    margin-top: 20px;
    margin-left: 100px;
}

.h4 {
    margin-top: 70px;
    margin-left: 100px;
}

.h5_N1 {
    color: #15f;
    margin-top: 20px;
    margin-left: 100px;
}

.h6 {
    /* margin-top: 30px; */
}

.button {
    color: black;
    background: #cdc8c8;
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    cursor: pointer;
    /* margin-left: 800px; */
    /* margin-bottom: 30px; */
    margin-top: 70px;
    outline: none;
}

a.active {
    border-bottom: 2px solid #15dd !important;
}